<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TV-tablå </title>

  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    crossorigin="anonymous"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    rel="stylesheet"
  />
  <link href="style.css" rel="stylesheet"/>
</head>
<body>

  <div id="app">
    <!-- Menu -->
    <div class="menu-icon" @click="toggleMenu">
  <i :class="menuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>

    </div>
 <ul class="menu" :class="{ 'menu--show': menuOpen }">
      <li @click="loadChannel('SVT 1')">SVT 1</li>
      <li @click="loadChannel('SVT 2')">SVT 2</li>
      <li @click="loadChannel('SVT Barn')">SVT Barn</li>
      <li @click="loadChannel('Kunskapskanalen')">Kunskapskanalen</li>
      <li @click="loadChannel('SVT 24')">SVT 24</li>
    </ul>

    <!-- Page content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-2">
          <h1>{{ channelName }}</h1>

          <ul v-if="program.length > 0" class="list-group list-group-flush">
            <li v-for="p in program" :key="p.start" class="list-group-item">
              <strong>{{ formatTime(p.start) }}</strong>
              <div>{{ p.title}}</div>
              <small>{{ p.description }}</small>
            </li>
          </ul>

          <img v-if="loading" src="loading.gif" class="loading-spinner" alt="Page loader"/>
        </div>
      </div>
    </div>
  </div>


  <script src="script.js"></script>

</body>
</html>
